# My data science assignment submission

## Introduction cell

### Data science languages:
- Python
- R
- Julia
- Weka
- C/C++
- Java
- JavaScript

### Data science libraries:
- ggplot2
- Lattice
- NumPy
- Pandas
- TensorFlow

### Data Science tools:
- Apache Spark
- RStudio
- Jupyter Notebook

### Some arithmetic expression examples:
- Addition
- Substraction
- Multiplication
- Division
- Floor Division

In [11]:
x = 10
y = 10

print("Multiply example:", x*y)

Multiply example: 100

In [12]:
x = 10
y = 10

print("Addition example:", x+y)

Addition example: 20

In [13]:
minutes = 240
hours = minutes/60
print(minutes, "minutes in hours:", hours)

240 minutes in hours: 4.0

### Objectives
- Add markdown cells
- List of data science languages, libraries and tools
- Do basic arithmetic expressions

### Author:

Sergio Ciringione